- var sc = []
- sc.push({"name": "ECO-CYCLE", "img": "./images/eco-cycle.webp", "desc": "SIMPLE, ELEGANT, RECYCLE PLACES HELPER", tags: ['React Native', 'Nodejs', "Expo", "Android", "iOS", "DATA.GOV.HK"]}) 
- sc.push({"name": "DeadStock", "img": "./images/ds.png", "desc": "AUTHENTIC SNEAKERS ONLINE TRADING PLATFORM", tags: ["Nodejs", "PostgreSQL", "Graphql", "AWS", "React", "React Native", "Android", "iOS", "HTML5", "CSS3", "k8s"]}) 
- sc.push({"name": "HoopCam", "img": "https://www.hoop.cam/images/logo.svg", "desc": "TURN YOUR BASKETBALL PASSION INTO A CAREER", tags: ["React Native", "Android", "iOS", "AppCenter", "CircleCI"]}) 
- sc.push({"name": "Filmate", "img": "./images/Filmate_logo.png", "desc": "以戲會友，一拍即合", tags: ["MeteorJS", "Cordova", "Android", "iOS"]}) 
- sc.push({"name": "Lynk", "img": "https://lynk.global/assets/_images/logo-dark.svg", "desc": "CONNECTING THE WORLD'S GREATEST MINDS", tags: ["Golang", "AWS", "Jenkins", "Ansible", "NodeJs", "Python", "TensorFlow", "Nodejs", "Android", "iOS", "Docker", "Chrome extension", "Angular", "Vue"]}) 
- sc.push({"name": "Fina", "img": "./images/fina.svg", "desc": "A SMART GIRL WHO HELP YOUR FINANCE", tags: ['React Native', 'Nodejs', "Expo", "Android", "iOS", "Hackathon"]}) 
- sc.push({"name": "Hot Spot", "img": "./images/hot-spot.png", "desc": "Optimize with Sixth Sense", tags: ["Flir", "Hackathon", "Android", "Big-data"]}) 
- sc.push({"name": "Booster", "img": "./images/booster.png", "desc": "Work Out with the Sixth Sense", tags: ["Flir", "Hackathon", "Android", "Sport"]}) 

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Mikkkkkkkkkkkkkkkke - A smart person you enjoy work with
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='main.css')
    //- link(rel='stylesheet', type='text/css', media='screen', href='loader.css')
    link(rel='stylesheet', type='text/css', media='screen', href='flex.css')
    link(rel='stylesheet', type='text/css', media='screen', href='form.css')
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.4/vivus.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    meta(property='og:title', content='Mike - A smart person you enjoy work with')
    meta(property='og:type', content='profile')
    meta(property='og:url', content='https://namike.me')
    meta(property='og:image', content='./images/me.jpg')

  body
    .border
      .onesec.d--f.ai--c.fd--c.jc--c(style="height: 80vh; position: relative")
        img.down-arrow(data-aos="fade-down", data-aos-offset="-100", data-aos-delay="300", style="position:absolute; bottom: 0", src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiMwMDAwMDAiLz4KICA8L2c+Cjwvc3ZnPgo=")
        img(src="./images/me.png", alt="me", style="margin-bottom: 100px")
        div(data-aos="fade-down")
          h1(data-wrap='h1', style="font-weight: normal")
            | HI, I am Mike, a 
            div.typing-warp
              span.typing
      
      .d--f.jc--c.ai--c.fd--c(style="padding: 16px 32px;flex: 1;")
        .d--f
          h3(style="margin-top: 40px; margin-bottom: 32px") MY WORKS
        .sc-grid
          each val,index in sc
            .card-holder
              .card(id="card"+index)
                button.close
                div.d--f.fd--c.card-header
                  .img.d--f.jc--c.ai--c(style="margin: 8px auto;")
                    img(src=`${val.img}`, alt="", style="max-width: 80%; max-height: 80%; width: 100%")
                  .container(style="flex:")
                    div(style="margin-bottom: 8px; font-weight: bold")= val.name
                    div(style="opacity: 0.7")= val.desc
                    .chip-container
                      each tag in val.tags
                        .chip=tag
      //- contact
      center(data-aos="fade-right")
        h3(style="margin-top: 40px; margin-bottom: 32px") LOOK FOR HELP?
        form#form.topBefore(netlify, name="contact")
          input#name(name="name", type='text', placeholder='NAME')
          input#email(name="email", type='text', placeholder='E-MAIL')
          textarea#message(name="message", type='text', placeholder='MESSAGE')
          input#submit(type='submit', value='FIND MIKE FOR BETTER LIFE')

          
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Raleway|Finger+Paint', rel='stylesheet')
    link(href='https://unpkg.com/aos@next/dist/aos.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js")

    script(src='main.js')
    //- aos
    script(src="https://unpkg.com/aos@next/dist/aos.js")
    script.
      AOS.init();

