- var sc = []
- sc.push({"name": "HoopCam", "img": "https://www.hoop.cam/images/logo.svg", "desc": "Turn your basketball passion into a career"}) 
- sc.push({"name": "Filmate", "img": "https://scontent.fhkg1-1.fna.fbcdn.net/v/t1.0-9/13221091_890910891031333_7826025350495345836_n.jpg?_nc_cat=0&oh=ff09d0ae6267b955001f982ff3f2b4b3&oe=5C07189A", "desc": "以戲會友，一拍即合"}) 
- sc.push({"name": "Lynk", "img": "https://lynk.global/assets/_images/logo-dark.svg", "desc": "Connecting the World's Greatest Minds"}) 
- sc.push({"name": "Fina", "img": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzUiIGhlaWdodD0iOTYiIHZpZXdCb3g9IjAgMCA3NSA5NiIgZmlsbD0ibm9u%0D%0AZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJl%0D%0AdmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03NC41MzI2IDUyLjQzNjNDNzQuNTM0MiA1%0D%0AMi40NDM0IDc0LjUzNTkgNTIuNDUwNCA3NC41MzY2IDUyLjQ1NzhDNzQuODM5OCA1NC4zODEzIDc1%0D%0ALjAwMTMgNTYuMzUxOCA3NSA1OC4zNTk5Qzc1IDgxLjYxMDIgNTUuNTM1NSA5NiAzNy41IDk2QzE2%0D%0ALjgyMjkgOTYgMCA3OS4xMTQyIDAgNTguMzU5OUMwIDU2LjkwOTUgMC4wOTA4MjAzIDU1LjQ4MDUg%0D%0AMC4yNTEwNjggNTQuMDcxN0MwLjI1NjQwOSA1NC4wMDYgMC4yNjU3NDcgNTMuOTQxNyAwLjI3NjQy%0D%0AOCA1My44NzZDMS45Mzc3NyAzOS44OTUgMTEuMjYwNyAyOC4yNTA0IDIzLjkwMjMgMjMuMjkzM0My%0D%0AMy43OTg5IDIzLjE4NTIgMjMuNjkzMyAyMy4wNzYzIDIzLjU4NzcgMjIuOTY3M0MyMy40MDI2IDIy%0D%0ALjc3NjMgMjMuMjE3NSAyMi41ODUzIDIzLjA0NDkgMjIuMzk5M0MxOC40NTc1IDI1LjM3MTEgMTIu%0D%0AMTY0OCAyNC4zMzA5IDcuNDI5MjMgMTkuNzA5QzYuNjM3MyAxOC45MzQxIDYuNjE4NTkgMTcuNjYy%0D%0AIDcuMzkwNSAxNi44NjU4QzguMTYyMzggMTYuMDcwOSA5LjQzMTA5IDE2LjA1MzUgMTAuMjIzIDE2%0D%0ALjgyN0MxMy44NzQyIDIwLjM4ODUgMTcuNzQ5NyAyMC42NjA3IDIwLjM1NzkgMTkuMzE0OUMxNi44%0D%0AOTkgMTUuMDYxNiAxNS4wMzIgMTEuNDExNSAxNC42OTI4IDguMjY4MTNDMTQuMzQ4MyA1LjA3OTE2%0D%0AIDE2LjUzNzEgMS43NDAwNSAxOS43ODUgMC41MDAxMjNDMjMuMTczMSAtMC43OTMzOTUgMjYuNjMx%0D%0AOSAwLjQ1NzI3NiAyOS4wMzU4IDMuODQ1OTVDMzIuOTU0IDkuMzcyNjggMjguNjUyNSAxNi4xNTQx%0D%0AIDI1Ljg4ODEgMTkuNTY2OUMyNi41ODc5IDIwLjMyMTUgMjcuMzUxNyAyMS4xMDcxIDI4LjE1MTcg%0D%0AMjEuOTA2QzMxLjE0MDUgMjEuMTMyNSAzNC4yNzM1IDIwLjcyMSAzNy41MDEzIDIwLjcyMUM1Ni4x%0D%0ANjMyIDIwLjcyMSA3MS42OCAzNC40NzU1IDc0LjUyODYgNTIuNDE0OUM3NC41MjkyIDUyLjQyMjIg%0D%0ANzQuNTMwOSA1Mi40MjkzIDc0LjUzMjYgNTIuNDM2M1pNNjkuOTk0NyA1MC4yMTI1QzY2LjM1Njgg%0D%0AMzUuNjAxNSA1My4xNzA0IDI0Ljc0MjQgMzcuNTAxMyAyNC43NDI0QzM1LjQwMzMgMjQuNzQyNCAz%0D%0AMy4zNTM0IDI0Ljk0NjIgMzEuMzYwOCAyNS4zMTg4QzM2LjUyNjQgMzEuMTk2NyA1MS43NDI4IDQ2%0D%0ALjgyOTIgNjkuOTk0NyA1MC4yMTI1Wk0xOC42NzUyIDcuODMzOEMxOC45MjUgMTAuMTM4MSAyMC40%0D%0ANDIgMTMuMDI4MSAyMy4yMDI1IDE2LjQ2NzdDMjUuMjk3OCAxMy43NDEyIDI3Ljk1NjcgOS4yNjAw%0D%0ANyAyNS43NzA2IDYuMTc3QzI0Ljc2MjMgNC43NTQ3NiAyMy42MTUxIDQuMDI4MjYgMjIuNDA1MiA0%0D%0ALjAyODI2QzIyLjAxMjUgNC4wMjgyNiAyMS42MTMzIDQuMTA0NjIgMjEuMjA4NiA0LjI1ODc5QzE5%0D%0ALjY2MjEgNC44NDk5MiAxOC41MjU2IDYuNDUzMTMgMTguNjc1MiA3LjgzMzhaTTM4LjQyOTUgMzcu%0D%0AOTE2NEMzMi41OTg4IDMyLjg5MzcgMjguNTQ5NyAyOC4yNTQ0IDI3LjAzMzkgMjYuNDMyN0MxNS42%0D%0ANzg0IDMwLjE5MjcgNi45OTExOCAzOS44ODk2IDQuNjQzNDMgNTEuODUwNUMxNC4xMzczIDUwLjE3%0D%0AMSAzMC45NTYyIDQzLjY2ODQgMzguNDI5NSAzNy45MTY0Wk00LjAwNzc1IDU4LjM2MTJDNC4wMDc3%0D%0ANSA3Ni44OTg0IDE5LjAzMzEgOTEuOTggMzcuNTAxMyA5MS45OEM1My42MDk4IDkxLjk4IDcwLjk5%0D%0ANDkgNzkuMTI2MyA3MC45OTYyIDU4LjM1OTlDNzAuOTk2MiA1Ny4wMjYxIDcwLjkwOTUgNTUuNzEz%0D%0ANyA3MC43NTg1IDU0LjQxODlDNTkuNTE5MiA1Mi43MjMyIDQ5LjM2NTYgNDYuNjcxIDQxLjYxMDYg%0D%0ANDAuNTM5N0w0MS42MDU0IDQwLjU0NTJDNDEuNjAyMyA0MC41NDg2IDQxLjU5OTQgNDAuNTUxOSA0%0D%0AMS41OTU5IDQwLjU1NDVDMzMuNjA5OCA0Ny4xMTQ3IDE0LjMwMDIgNTQuNTI2MSA0LjA5ODU3IDU2%0D%0ALjAxNjdDNC4wNDUxNCA1Ni43OTI4IDQuMDA3NzUgNTcuNTcxNyA0LjAwNzc1IDU4LjM2MTJaTTIw%0D%0ALjgxODYgNjIuODI1QzIwLjgxODYgNjQuNjcxMyAxOS4zMjc1IDY2LjE2OCAxNy40ODggNjYuMTY4%0D%0AQzE1LjY0ODUgNjYuMTY4IDE0LjE1NzMgNjQuNjcxMyAxNC4xNTczIDYyLjgyNUMxNC4xNTczIDYw%0D%0ALjk3ODYgMTUuNjQ4NSA1OS40ODE4IDE3LjQ4OCA1OS40ODE4QzE5LjMyNzUgNTkuNDgxOCAyMC44%0D%0AMTg2IDYwLjk3ODYgMjAuODE4NiA2Mi44MjVaTTYwLjI4ODUgNjIuODIzNkM2MC4yODg1IDY0LjY2%0D%0AOTIgNTguNzk3OSA2Ni4xNjUzIDU2Ljk1OTEgNjYuMTY1M0M1NS4xMjA0IDY2LjE2NTMgNTMuNjI5%0D%0AOCA2NC42NjkyIDUzLjYyOTggNjIuODIzNkM1My42Mjk4IDYwLjk3OCA1NS4xMjA0IDU5LjQ4MTgg%0D%0ANTYuOTU5MSA1OS40ODE4QzU4Ljc5NzkgNTkuNDgxOCA2MC4yODg1IDYwLjk3OCA2MC4yODg1IDYy%0D%0ALjgyMzZaTTU0LjQyNzEgNzEuMjcyNkM1My40MTIxIDcwLjgzNDMgNTIuMjMxNiA3MS4yOTgxIDUx%0D%0ALjc5MDkgNzIuMzE1NUM1MC4xMTc1IDc2LjE4MDEgNDUuMzcxMiA3OC44NTgzIDM5LjQwODQgNzku%0D%0AMzA0NkMzMi4yMDg5IDc5LjgzOTUgMjUuNTk5NiA3Ni45OTM3IDIyLjUxNzQgNzIuMDUwMUMyMS45%0D%0AMzExIDcxLjEwOTEgMjAuNjk0NCA3MC44MjIyIDE5Ljc1NjkgNzEuNDEyQzE4LjgxOTQgNzIuMDAw%0D%0ANSAxOC41MzUgNzMuMjQxOCAxOS4xMjEyIDc0LjE4MjdDMjIuNjgzIDc5Ljg5NzIgMjkuODMzMSA4%0D%0AMy4zODkgMzcuNzA0MyA4My4zODlDMzguMzY2NyA4My4zODkgMzkuMDM1OCA4My4zNjM2IDM5Ljcw%0D%0ANjIgODMuMzE0QzQ3LjE1ODEgODIuNzU1IDUzLjE5ODQgNzkuMTUzMiA1NS40Njc0IDczLjkxNkM1%0D%0ANS45MDY4IDcyLjkwMTIgNTUuNDQyIDcxLjcxNjMgNTQuNDI3MSA3MS4yNzI2WiIgZmlsbD0iIzAw%0D%0AQzRBMSIvPgo8L3N2Zz4K", "desc": "A smart girl who help your finance"}) 
//- - sc.push({"name": "hoopcam", "img": "", "desc": ""}) 
//- - sc.push({"name": "hoopcam", "img": "", "desc": ""}) 
//- - sc.push({"name": "hoopcam", "img": "", "desc": ""}) 
//- - sc.push({"name": "hoopcam", "img": "", "desc": ""}) 
//- - sc.push({"name": "hoopcam", "img": "", "desc": ""}) 

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Mikkkkkkkkkkkkkkkke - A smart person you enjoy work with
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='main.css')
    link(rel='stylesheet', type='text/css', media='screen', href='loader.css')
    link(rel='stylesheet', type='text/css', media='screen', href='flex.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Raleway', rel='stylesheet')
    //- https://github.com/mattboldt/typed.js/
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js')
    //- https://github.com/wvengen/d3-wordcloud
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js")
    //- script(src='lib/d3/d3.js')
    //- script(src='lib/d3/d3.layout.cloud.js')
    //- script(src='lib/d3/d3.wordcloud.js')
  body
    .border.d--f.jc--c
      .onesec.d--f.jc--c(style="flex: 1")
        h1(data-wrap='h1')
          | HI, I am Mike, a 
          div.typing-warp
            span.typing
      .rhs.d--f.jc--c.ai--c.fd--c(style="padding: 16px 32px;flex: 1;")
        .d--f
          h3(style="margin-right: 8px") SHOWCASE
          //- h3(style="margin-right: 8px") SKILLS
          //- h3(style="margin-right: 8px") CONTACTS
        .sc-grid
          each val,index in sc
            .card(id="card"+index)
              div
                .img(style="background-image: url("+val.img+"); width: 80%; margin: 8px auto;")
                .container
                  h3(style="margin-bottom: 16px")= val.name
                  div(style="opacity: 0.7")= val.desc
      //- <div class="loader__wrap" role="alertdialog" aria-busy="true" aria-live="polite" aria-label="Loading…">
      //- <div class="loader" aria-hidden="true">
      //- <div class="loader__sq"></div>
      //- <div class="loader__sq"></div>
      //- </div>
      //- </div>
    script(src='main.js')
    script.
      if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js')
      .then(function (registration) {
      console.log('Service Worker registration successful with scope: ',
      registration.scope)
      })
      .catch(function (err) {
      console.log('Service Worker registration failed: ', err)
      })
      }

