<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mikkkke - You enjoy work with</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Mike - You enjoy work with" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="https://namike.me" />
    <meta property="og:image" content="./images/me.jpg" />
    <script type="module" src="./main.js"></script>
    <link rel="stylesheet" href="./main.css" />
    <script src="//unpkg.com/alpinejs" defer></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Finger+Paint"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js"></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
</html>

<body>
  <div class="swiper-container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/WLn4oFIZJPNgL88NugUqQw0N7j_ro5VRu95qRQ4qdmqaQ8e-TSAPmcFXMnqR8goFCITPnRmeAwe_yhHB7ljS7J7Wrnc75i0qcogVeaN9hHvFFlkG_ekGN8aUMyyBpuOqLvZrgeTE2EM=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/VTKn8WepdZt9VTxUaSjymEo5KrTpiFiwOpmXwzX18iWHvZAHmI4lu84AAaKD_mxv5Ki1R64GCpSyxeQgzCxSyljPjKRr4Q4v9wcAvgIMJsyj1ca8PZDUDPGHzxpBOwhuO9mM-9MR24k=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/QjKZ2VSHIFJOXN9KD3qQSomlKh9k6Nb6KikTBBQuNZBKcetnnYs9sYyUxmyKhF42OKv9AIIP9qPXvWG3jQrXKUvQy30iSSlraSV7tswfA4ilqADa-_zuw0DK4G1RtCA8fnW-5OP2P9g=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/6jq1zJe3TjfcZIaTLoZMzkkGsxvtRR2qnmylTvD9Qig55emgbTHcJYHQI_0I70gXFMgXgpctFAe0I0ae3EPgvMbONDgmtzRgQzKOrfVKmC0_Q5LSJsrndbltavvi8djbTUdgqM9CXPE=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/u2UcuX5ScFan2lwxUop-feD3jWcPF99O4UWmgPX1SXf6J4uPnBAetQiudCe7JrepqzSw-0KmLLZ_FwWfd9GofL5y8gMl7AF12qX7rqPONYbkrF9B6KcansVsEeX7EWqZETyoNX4BHRo=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/A8dPfHiscBMaIcBupy2lFCQq4K-vu7Ux-vJFjLL8BwinzleFc6eYNaxwTvhU0i0_UJ_0zEJ_Yi7u24KQw7jDUN3EvbeEx2SP7DenX-ekbJiWILmo3mNxO0foVhkP3nuQ8mq-zkcVdb0=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/NAy_n0ECl2fmIWuEhFawArIl1S-0L1NOkBngtEorIrtAXqNxFfwuIVV5KyEMpT18M1z17aF84REKksIzMuWKjqvTPTX2T54BIXzJZLkMV6gzu8GH0NWBKQfCwDs4OUNqbgQmiZD7ExY=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/wqk1WbccrO3TlxEd-XnvAa-pmm_n0bQ8pMqVrqcSBM_Vl4XbNOpuev5DEwtmvszkvfgF_U-vcQdgLMAny8_7qSWRW6rOM0y-HaFiQqproPGyw8Uz4BJuchRWxyauIqn-zYuuPVqX8Gk=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/esYr_NavAMzBEJR-sXGQYW_I5M6NZGyHmckIg2mc4iDjuaaq8uQZAqRp0AaZ09C1f-UTXYYu_tdcoXg9e5alAnQXLXCzFIap89-l9KVhgKCjP89OLCo7GzyYaYX0vNyEElvUw1A0Pvc=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/TFsnncljx4qXl_xmf_E4rBOjCmDbcBC_DcNKgP5Ly1fWlk7zo_VFjUV2KKiXNtjx0VqDekPrybfd8_gYvBfiJ5AHiS4vZgxFLAfsozWt_5zE2UEZhGRA70yk3xz690ZbLENodbPnAzo=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/is03SApgteF4IlcQ13XA3OaHJNSlS6QIwiKOK7dO27oLbrrbT-XleHo35R4SLvpbPM_dfEgX4XX79BPkWeafrBDxVR0m_a0FeO-aQLl-eS8G8vsIOMMeHSOUD4x6HqrKaTLjY-NLplw=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/E9VrnAqHrVsJpqSW7dWEXZfYsQzCG1DzMZyBaB77q6DfFgXXVsODNXP-ZRyl3hWGAkWX-SH3h3Cckz0QmOlH7C6gFTD778cWMRx-Zjd4bNTZ0DVk7kMwKD8VPg40bOadzcmHYhFe2tc=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/rZ-gHyQb6IrrMkAIJ2e-ChZftWMR4vv7pbdDqTYhqMTliMg54f2gE0K9gAYkozVzxiQ7imyo_MbZ6IhTQeAUC44-eOglx0e1W4saIbBFF-dgNXTcILeN_43KEqogYf7o3yeTpQaoaYQ=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/uvTOcn7SKYlpc3lSDvQ6sd6iIYNZp60bv0t6vcRxTP6SCkDgGAxJKB7jb41ttD0Un4Iy8i_DSpgQh7SQ0qErNXLBHhsUA7xPuTLoJO2wSCLq0LUjrxj4VrR4-kXwHUdmr5yIE1QTXzo=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/hLsKVDyc5eWh9N_g7g8JzqUn8ZyuOgQNWUh25KErLW_y9wycQjM6se-KBh9nQvFA4gkvZ-WOcbNJTOylDjDhHznY9qLbpOsYv0IWLztDZ9mNLeFqo-fihIhMKsZHsJ7-ExUTnkX5ciM=w1920-h1080"
        />
        <img
          class="full swiper-slide"
          src="https://lh3.googleusercontent.com/OAKOlwYaOyaqhiy65mVuYa2Dn-4q_qi9dd9onpJkNG1VAwsis_ruw-KcYy__KsV1mMrGMnbEGDzFCTKIZgY3rLlgJTETlepbV3agaOfy3L6-kxcnZqmVtrzxmj1lJdsFx9DBRXe5C74=w1920-h1080"
        />
      </div>
    </div>
  </div>

  <div class="flex justify-center flex-col items-center h-screen relative">
    <div
      data-aos="fade-down"
      data-aos-offset="-100"
      data-aos-delay="300"
      style="position: absolute; bottom: 0"
      class="text-center w-full absolute"
    >
      <div style="margin-bottom: 10px" role="button">
        <strong>MY WORKS</strong>
      </div>
      <div><i class="fa fa-chevron-down"></i></div>
    </div>

    <img src="./images/me.png" alt="me" style="margin-bottom: 100px" />
    <div data-aos="fade-down">
      <h1 data-wrap="h1" class="text-4xl">
        HI, I am Mike, a
        <div class="typing-warp"><span class="typing"></span></div>
      </h1>
    </div>
  </div>

  <!-- portfolio -->
  <div class="my-10 text-center" x-data="{ open: 'ECO-CYCLE' }">
    <div class="text-center italic text-2xl w-1/2 text-gray-600 m-auto">
      “Software and cathedrals are much the same — first we build them, then we
      pray.”
    </div>
    <div class="flex flex-wrap w-4/5 m-auto my-10">
      <% showcase.forEach(function(c){ %>
      <div
        role="button"
        x-bind:class="open === '<%= c.name %>' ? 'scale-125 ' : ''"
        @click="open = '<%= c.name %>'"
        class="w-1/4 md:w-1/6 mt-8 transform hover:scale-125 transition-all"
      >
        <div
          class="
            mx-auto
            w-20
            h-20
            flex
            justify-center
            items-center
            rounded-xl
            border
            p-5
          "
        >
          <img src="<%= c.img %>" alt="" />
        </div>
        <div class="text-center mt-3"><%= c.name %></div>
      </div>
      <% }); %>
    </div>

    <div class="mx-10 md:w-3/4 mt-30 md:mx-auto rounded-lg border px-10 py-1" style="height: 500px;">
      <% showcase.forEach(function(c){ %>
      <div
        class="wrapper my-10"
        x-transition
        x-show="open === '<%= c.name %>'"
      >
        <div class="flex items-center mb-5">
          <div class="mr-5">
            <div
              class="
                w-20
                h-20
                rounded-xl
                overflow-hidden
                bg-contain bg-no-repeat bg-center
              "
              style="background-image: url(<%= c.img %>)"
            ></div>
          </div>
          <div class="text-left">
            <div class="font-bold"><%= c.name %></div>
            <div class="text-xs text-gray-400"><%= c.desc %></div>
            <div class="mt-7">
              <span
                class="px-4 rounded-2xl py-1 bg-gray-300 text-white text-sm"
              >
                GET
              </span>
            </div>
          </div>
        </div>
        <hr />
        <div class="mt-10"></div>
        <div class="w-full flex overflow-x-scroll mt-10">
          <% c.images.forEach(function(img){ %>
          <img class="w-32 mr-5" src="<%= img %>" alt="" />
          <% }); %>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <hr />

  <!-- contact -->
  <div class="text-center" data-aos="fade-right">
    <h3 style="margin-top: 40px; margin-bottom: 32px">LOOK FOR HELP?</h3>
    <form class="topBefore" id="form" netlify="netlify" name="contact">
      <input id="name" name="name" type="text" placeholder="NAME" />
      <input id="email" name="email" type="text" placeholder="E-MAIL" />
      <textarea
        id="message"
        name="message"
        type="text"
        placeholder="MESSAGE"
      ></textarea>
      <input id="submit" type="submit" value="FIND MIKE FOR BETTER LIFE" />
    </form>
  </div>
</body>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
